.container {
    max-width: 1200px;
    min-width: 480px;
    margin: 0 auto;
    background-color: aqua;
}

footer {
    align-items: center;
    background-color: aqua;
}

.paginator {
    margin: 1rem;
}

.paginator a, .paginator span {
    display: inline-block;
    padding: 0.25rem;
    margin: 0.05rem;
    text-decoration: none;
    border: 1px solid rgb(47, 47, 61);
    border-radius: 0.5rem;
}

.paginator span {
    background-color:  rgb(47, 47, 61);
    color: white;
}