
.navigation {
    margin:  2rem;
    padding: 10px;
    justify-content: center;
    place-items: stretch;
}
.container {
    max-width: 1200px;
    min-width: 480px;
    margin: 0 auto;
    background-color: orange;
}

footer {
    align-items: center;
    background-color: orange;
}
