<!DOCTYPE html>
{% load static %}
{% comment %} {% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %} {% endcomment %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} NKL DATABASE {{ block.super }} {% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'basketball/css/base.css' %}">
    </head>
<body>
    <header>
        <div class='navigation container'>
            <a class="button" href='{% url "index" %}'>Start page</a>
            <a href="/teams">All teams</a>
            <a href="/sponsors">Look our sponsors</a>
            <a href="https://www.nklyga.lt/rungtynes/tvarkarastis.html">Recent and upcomming games</a>
            <a class="button" href="https://www.nklyga.lt/lygos/50-7bet-nkl-nacionaline-krepsinio-lyga/lenteles.html">Standings</a> 
                <form action="{% url 'search' %}" method="get">
                <input name="query" type="text" placeholder="Search person">
                </form>
        </div>
    </header>
    <main>
        <div>{% block content %}{% endblock %}</div>
    </main>
    <footer>PTU5 Final project
    </footer>
</body>
</html>